<!DOCTYPE html>
<html>
  <head>
    <title>Connect</title>
    <%= csrf_meta_tags %>
    <script>
      window.plant = "<%= image_url("home.jpg") %>"
      window.heart = "<%= image_url("heart.svg") %>"
      window.fullHeart = "<%= image_url("fullheart.svg") %>"
      window.profilePic = "<%= image_url("default-user.svg") %>"
    </script>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= stylesheet_link_tag 'story_index', media: 'all' %>
    <%= stylesheet_link_tag 'header', media: 'all' %>
    <%= stylesheet_link_tag 'story_detail', media: 'all' %>
    <%= stylesheet_link_tag 'write_a_story', media: 'all' %>
    <%= javascript_include_tag 'application' %>
     <%= favicon_link_tag 'lagoon.png' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
